<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders List</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}"/>

</head>
<body>
<div class="container">
    <h3>Lista zamówień:</h3>
    <div class="z-depth-1 grey lighten-3 row container-box">
        <table>
            <thead>
            <tr>
                <th class="center-align">ID</th>
                <th class="center-align">Data zamówienia</th>
                <th class="center-align">ID klienta</th>
                <th class="center-align">Wartość</th>
                <th class="center-align">Usuń</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${orders.empty}">
                <td colspan="6" class="center-align"> Brak zarejestrowanych zamówień </td>
            </tr>
            <tr th:each="order : ${orders}">
                <td class="center-align"><span th:text="${order.id}"/></td>
                <td class="center-align"><span th:text="${order.date}"/></td>
                <td class="center-align"><span th:text="${order.user_id}"/></td>
                <td class="center-align"><span th:text="${order.value}"/></td>
                <td class="center-align">
                    <button class="waves-effect waves-teal btn-flat">
                        <i class="material-icons red-text text-accent-4">delete_forever</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="valign-wrapper" th:href="@{/admin/home}"><i class="material-icons">navigate_before</i> Wróć do panelu administratora</a></p>
</div>
</body>
</html>