<footer class="page-footer main-color" xmlns:th="http://www.thymeleaf.org">
    <div class="container white-text">
        <div class="row">
            <div class="col l6 s12 center">
                <h5 th:text="#{footer.about_us}"></h5>
                <ul>
                    <li><a class="white-text" href="#!" th:text="#{footer.contact_us}"></a></li>
                    <li><a class="white-text" href="#!" th:text="#{footer.who_we_are}"></a></li>
                    <li><a class="white-text" href="#!" th:text="#{footer.career}"></a></li>
                </ul>
            </div>
            <div class="col l4 s12 center">
                <h5 th:text="#{footer.links}"></h5>
                <ul>
                    <li><a class="white-text" th:href="@{/privacyPolicy}" th:text="#{footer.privacy_policy}"></a></li>
                    <li><a class="white-text" href="#!" th:text="#{footer.terms_of_service}"></a></li>
                    <li><a class="white-text" href="#!" th:text="#{footer.conditions}"></a></li>
                    <li><a class="white-text" href="#!" th:text="#{footer.faq}"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center white-text">
            © [[#{footer.years}]] <a class="white-text" href="mailto:jastka4@gmail.com">Justyna Skalska</a>
            <a class="white-text" href="mailto:226038@student.pwr.edu.pl">Daniel Szewczyk</a> | [[#{footer.rights}]]
        </div>
    </div>
</footer>
