<footer class="page-footer main-color">
    <div class="container white-text">
        <div class="row">
            <div class="col l6 s12 center">
                <h5>About Us</h5>
                <ul>
                    <li><a class="white-text" href="#!">Contact Us</a></li>
                    <li><a class="white-text" href="#!">Who We Are</a></li>
                    <li><a class="white-text" href="#!">Career Opportunities</a></li>
                </ul>
            </div>
            <div class="col l4 s12 center">
                <h5>Links</h5>
                <ul>
                    <li><a class="white-text" href="#!">Privacy Policy</a></li>
                    <li><a class="white-text" href="#!">Terms of Service</a></li>
                    <li><a class="white-text" href="#!">Conditions</a></li>
                    <li><a class="white-text" href="#!">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center white-text">
            © 2019 <a class="white-text" href="mailto:jastka4@gmail.com">Justyna Skalska</a>
            <a class="white-text" href="mailto:226038@student.pwr.edu.pl">Daniel Szewczyk</a> | All Rights Reserved
        </div>
    </div>
</footer>
