<div th:fragment="productCard(id)" th:with="id=${id}" class="col s12 m6 l4 product-card" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="card  z-depth-4">
        <div class="card-image">
            <a th:href="@{/product(id=${id})}" class="btn-floating btn-large price waves-effect waves-light brown darken-3" th:text="${item.price}">5 €</a>
            <img src="https://res.cloudinary.com/landry-bete/image/upload/v1488769144/dessert14_trnhnj.jpg"
                 alt="product-img">
            <span class="card-title"><span th:text="${item.name}">Macaron</span></span>
        </div>
        <ul class="card-action-buttons">
            <li>
                <a class="btn-floating waves-effect white">
                    <i class="material-icons grey-text text-darken-3 share">share</i>
                </a>
            </li>
            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="material-icons like">favorite_border</i></a>
            </li>
            <li><a class="btn-floating waves-effect waves-light blue"><i class="material-icons buy">add_shopping_cart</i></a>
            </li>
        </ul>
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <p>
<!--                        <strong>Szczegóły:</strong> <br/>-->
                        <span th:text="${item.description}"/>
                    </p>
                </div>

            </div>
            <div class="row">
                <div style="width: 95%; margin: auto;">
                    <div class="chip">Dessert</div>
                    <div class="chip">French</div>
                    <div class="chip">Chocolate</div>
                    <div class="chip"><a href="#">More...</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
