<ul class="sidenav" id="mobile-demo" xmlns:th="http://www.thymeleaf.org">
    <li>
        <div class="user-view">
            <div class="background"></div>
            <img class="circle" th:src="@{/images/login.jpg}" alt="Admin image">
            <span class="white-text name">John Doe</span>
            <span class="white-text email">jdoe@gmail.com</span>
        </div>
    </li>
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>
