<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="#{pdp.product.details}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons/material-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/productDisplayPage.css}"/>

    <script th:src="@{/js/materialize.min.js}" defer></script>
    <script th:src="@{/js/scripts.js}" defer></script>

</head>
<body>
<nav th:replace="/fragments/header.html  :: header"></nav>

<main>
    <div class="container">
        <div class="row second-nav">
            <div class="col s12">
                <ol class="breadcrumb-list">
                    <li class="breadcrumb-item"
                        th:each="category : ${@categoryService.getCategoriesHierarchy(product.category)}"><a href="#"
                                                                                                             th:text="${category.name}"></a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row product">
            <div class="col s12 m7">
                <div class="product-gallery">
                    <div class="product-image" th:with="image = ${product.images.get(0)}">
                        <img th:src="${image.getUrl()}" th:alt="${image.alternative}">
                    </div>
                    <ul class="image-list">
                        <li th:each="image: ${product.images}" class="image-item"><img th:src="${image.getUrl()}"
                                                                                       th:alt="${image.alternative}">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m5">
                <p>Code: <span th:text="${product.code}"></span></p>
                <h1 th:text="${product.name}"></h1>
                <h2 th:text="${product.price}"></h2>
                <p>Items in magazine: <span th:text="${product.amount}"></span></p>
                <div class="description">
                    <p th:text="${@itemService.getDescription(product)}"></p>
                </div>

                <form method="post" th:action="@{/cart}">
                    <button class="add-to-cart main-color" name="id" th:value="${param.id}" type="submit"
                            th:text="#{button.add_to_cart}"></button>
                </form>
            </div>
        </div>
        <div class="row related-products">
            <div class="col s12">
                <h3 th:text="#{pdp.similiar_products}"></h3>
            </div>
            <div class="col s12 m4" th:each="recommended : ${@itemService.getRecommendedItems(product)}">
                <a th:href="@{/product(id=${recommended.id})}">
                    <img th:src="${recommended.images[0].getUrl()}" th:alt="${recommended.images[0].alternative}">
                    <h4 th:text="${recommended.name}"></h4>
                    <p class="price" th:text="${recommended.price}"></p>
                </a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer.html  :: footer"></footer>
</body>
</html>