<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="#{pdp.product.details}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons/material-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/productDisplayPage.css}"/>

    <script th:src="@{/js/materialize.min.js}" defer></script>
    <script th:src="@{/js/productListingPage.js}" defer></script>

</head>
<body>
<nav th:replace="/fragments/header.html  :: header"></nav>

<main>
    <div class="container">
        <div class="row second-nav">
            <div class="col s12">
                <ol class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Household Plants</a></li>
                    <li class="breadcrumb-item active">Bonsai</li>
                </ol>
            </div>
        </div>
        <div class="row product">
            <div class="col s12 m7">
                <div class="product-gallery">
                    <div class="product-image" th:with="image = ${product.images.get(0)}">
                        <img th:src="${image.getUrl()}" th:alt="${image.alternative}">
                    </div>
                    <ul class="image-list">
                        <li th:each="image: ${product.images}" class="image-item"><img th:src="${image.getUrl()}"
                                                                                       th:alt="${image.alternative}">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m5">
                <p>Code: <span th:text="${product.code}"></span></p>
                <h1 th:text="${product.name}"></h1>
                <h2 th:text="${product.price}"></h2>
                <p>Items in magazine: <span th:text="${product.amount}"></span></p>
                <div class="description">
                    <p th:text="${product.description}"></p>
                </div>

                <form method="post" th:action="@{/cart}">
                    <button class="add-to-cart main-color" name="id" th:value="${param.id}" type="submit"
                            th:text="#{button.add_to_cart}"></button>
                </form>
            </div>
        </div>
        <div class="row related-products">
            <div class="col s12">
                <h3 th:text="#{pdp.similiar_products}"></h3>
            </div>
            <div class="col s12 m4">
                <img src="https://source.unsplash.com/miziNqvJx5M">
                <h4>Succulent</h4>
                <p class="price">$19.99</p>
            </div>
            <div class="col s12 m4">
                <img src="https://source.unsplash.com/2y6s0qKdGZg">
                <h4>Terranium</h4>
                <p class="price">$19.99</p>
            </div>
            <div class="col s12 m4">
                <img src="https://source.unsplash.com/6Rs76hNbIWE">
                <h4>Cactus</h4>
                <p class="price">$19.99</p>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer.html  :: footer"></footer>
</body>
</html>