<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/materialize.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}"/>
    <script th:src="@{js/materialize.min.js}"></script>
</head>

<body>
<main>
    <div class="center spacing">
        <a th:href="@{/}" class="brand-logo">
            <img class="responsive-img" th:src="@{images/logo-1.png}" alt="Skateboarder logo"/>
        </a>

        <h5 class="indigo-text spacing">Registration form</h5>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row container-box">

                <form class="col s12" method="post" th:action="@{/registration}" th:object="${user}">

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='first_name' id='first_name' th:field="*{firstName}"/>
                            <label for='first_name'>First Name</label>
                        </div>
                    </div>
                    <p class="red-text" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='last_name' id='last_name' th:field="*{lastName}"/>
                            <label for='last_name'>Last Name</label>
                        </div>
                    </div>
                    <p class="red-text" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='email' name='email' id='email' th:field="*{email}"/>
                            <label for='email'>Email</label>
                        </div>
                    </div>
                    <p class="red-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password' th:field="*{password}"/>
                            <label for='password'>Password</label>
                        </div>
                    </div>
                    <p class="red-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>


                    <div class="center" th:if="${param.error}">
                        <p class="red-text">Invalid email or password. Please try again.</p>
                    </div>
                    <br/>

                    <div class="center">
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Register User</button>
                        </div>
                    </div>
                    <span th:utext="${successMessage}"></span>
                </form>
            </div>
        </div>
        <a th:href="@{/login}">Log in</a>
    </div>
</main>

</body>
</html>
