<div class="center spacing" xmlns:th="http://www.thymeleaf.org">
    <h5 class="main-color-text spacing" th:text="#{admin.products.add}"></h5>
    <div class="container">
        <div class="z-depth-1 grey lighten-4 row container-box">

            <form class="col s12" method="POST" th:action="@{/admin/categories/add}" th:object="${category}">
                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='code' id='code' th:field="*{code}"/>
                        <label for='code' th:text="#{admin.categories.code}"></label>
                    </div>
                </div>
                <p class="red-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='name' id='name' th:field="*{name}"/>
                        <label for='name' th:text="#{admin.categories.name}"></label>
                    </div>
                </div>
                <p class="red-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='description' id='description'
                               th:field="*{description}"/>
                        <label for='description' th:text="#{admin.categories.description}"></label>
                    </div>
                </div>
                <p class="red-texft" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                <div class='row'>
                    <div class='input-field col s12'>
                        <select class='validate' name='parentCategory' id='parentCategory'
                                th:field="*{parentCategory}">
                            <option th:value="0" th:text="None" selected></option>
                            <option th:each="category : ${@categoryService.getAll()}" th:value="${category.id}"
                                    th:text="${category.code + ' - ' + category.name}"></option>
                        </select>
                        <label for='parentCategory' th:text="#{admin.categories.parent}"></label>
                    </div>
                </div>
                <br/>
                <div class="center">
                    <div class='row'>
                        <button type='submit' class='col s12 btn btn-large waves-effect main-color'
                                th:text="#{admin.categories.add}"></button>
                    </div>
                </div>
                <span th:ttext="${successMessage}"></span>
            </form>
        </div>
    </div>
    <a th:href="@{/admin/categories}" th:text="#{admin.categories.back}"></a>
</div>
