<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul>
                <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </li>
                <li><a class="title" href="#!">Dashboard</a></li>
            </ul>
            <ul class="right">
                <li><a href="#!"><i class="material-icons">apps</i></a></li>
                <li><a href="#!"><i class="material-icons">settings</i></a></li>
                <li><a href="#!"><i class="material-icons">help</i></a></li>
            </ul>
        </div>
    </nav>
</header>
