<div class="container center" xmlns:th="http://www.thymeleaf.org">
    <h3 th:text="#{admin.users.list}"></h3>
    <div class="z-depth-1 grey lighten-3 row container-box">
        <table>
            <thead>
            <tr>
                <th class="center-align" th:text="#{admin.users.id}"></th>
                <th class="center-align" th:text="#{admin.users.name}"></th>
                <th class="center-align" th:text="#{admin.users.last_name}"></th>
                <th class="center-align" th:text="#{admin.users.email}"></th>
                <th class="center-align" th:text="#{admin.users.roles}"></th>
                <th class="center-align" th:text="#{admin.users.remove}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="6" class="center-align" th:text="#{admin.users.empty}"></td>
            </tr>
            <tr th:each="user : ${users}">
                <td class="center-align"><span th:text="${user.id}"/></td>
                <td class="center-align"><span th:text="${user.firstName}"/></td>
                <td class="center-align"><span th:text="${user.lastName}"/></td>
                <td class="center-align"><span th:text="${user.email}"/></td>
                <td class="center-align"><span th:text="${user.roles}"/></td>
                <td class="center-align">
                    <button class="waves-effect waves-teal btn-flat">
                        <i class="material-icons red-text text-accent-4">delete_forever</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
